{%  extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Copyright" %}
{% endblock %}

{% block search-bar %}
{% endblock %}

{% block content %}

    <div class="container w-full mx-auto my-10 items-start border p-6 border-gray-400">

        <span>
            <li>
                {% trans "Home Logo Icons made from" %}
                <a href="https://hatchful.shopify.com/">
                    www.hatchful.shopify.com
                </a>
            </li>
            <li>
                ...
            </li>
        </span>

    </div>
{% endblock %}
