{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    HOME
{% endblock %}

{% block content %}

    <div class="container mx-auto pb-30">

        <div class="container rounded-xl -mx-30 bg-gray-800 w-full h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3000&q=80)"></div>

        <div class="flex flex-wrap -mx-30 mb-10">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <div class="flex item-center justify-center mb-8">
            {% if page_obj.has_previous %}
                <a class="mr-3" href="?page=">
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}" class="text-green-600">
                    <i class="fas fa-arrow-left"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">
                {% blocktrans with current_page=page_obj.number total_page=page_obj.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}{% endblocktrans %}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-green-600">
                    <i class="fas fa-arrow-right"></i>
                </a>
                <a class="ml-3" href="?page={{ page_obj.paginator.num_pages }}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            {% endif %}
        </div>

    </div>
{% endblock content %}
