container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_compilemessages:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py compilemessages"
  03_create_su:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py create_su"
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  05_make_amenities:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_amenities"
  06_make_facilities:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_facilities"
  07_make_rules:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_rules"
  08_make_roomtypes:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_roomtypes"
  09_make_users:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_users --number 300"
  10_make_rooms:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_rooms --number 57"
  11_make_reviews:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_reviews --number 250"
  12_make_reservations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_reservations --number 20"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings