container_commands:
  0A_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  0B_compilemessages:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py compilemessages"
  0C_create_su:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py create_su"
  0D_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  0E_amenities:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_amenities"
  0F_facilities:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_facilities"
  0G_roomtypes:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_roomtypes"
  0H_rules:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_rules"
  0I_users:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_users --number 30"
  0J_rooms:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_rooms --number 15"
  0K_reviews:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_reviews --number 50"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings